*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
    line-height: 1.15;
}

h1 {
    font-size: 2em;
    margin: .67em 0
}
html,body {
    font-family: "Inter",serif;
    font-size: 16px;
    color: #424242;
    width: 100%;
    line-height: 1.7;
    font-weight: 400;
}

a {
    color: #387ed1;
    text-decoration: none;
    font-weight: 500
}
a:hover {
    cursor: pointer;
}
h1,h2,h3,h4,h5,h6 {
    margin-top: 0px;
    font-weight: 500;
    margin-bottom: 20px
}

h1 {
    font-size: 2.75rem;
    line-height: 1.25
}

h2 {
    font-size: 2rem;
    line-height: 1.5
}

h3 {
    font-size: 1.75rem;
    line-height: 1.6
}

h4 {
    font-size: 1.5rem
}

h5 {
    font-size: 1.25rem;
    font-weight: 400
}

h5 a {
    font-weight: 400
}

h6 {
    font-size: 1.125rem
}

p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 15px
}


.no-bullet-list{
    list-style-type: none;
}

.hidden {
    display: none !important
}

.v-align {
    display: flex;
    align-items: center;
}

.space-top {
    margin-top: 30px;
}

.space-bottom {
    margin-bottom: 30px;
}

.bottom-5 {
    margin-bottom: 5px;
}

.text-18 {
    font-size: 1.15rem;
}

.text-12 {
    font-size: .75rem;
}

.text-center {
    text-align: center;
}

.text-left {
    justify-content: flex-start;
    text-align: left;
}

.text-right {
    justify-content: flex-end;
    text-align: right;
}

.text-med{

}
.text-grey {
    color: #666;
}

.text-light-grey {
    color: #9b9b9b;
}

.border-bottom {
    border-bottom: 1px solid #eee;
}

.border-top {
    border-top: 1px solid #eee;
}

.color-grey {
    color: #9b9b9b;
}

.color-blue {
    color: #387ed1;
}

.grey-back {
    background-color: #fafafb;
}

.show-on-mobile {
    display: none;
}

.container {
    position: relative;
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box
}


.row{
    display: flex;
    flex-flow: row wrap;
}

.between{
    justify-content: space-between;
}

.around{
    justify-content: space-around;
}

.relative-section{
    position: relative;
}

.three {
    flex-basis: 22%;
    width: 22%;
}

.five{
    flex-basis: 39.33%;
    width:39.33%;
}

.six{
    flex-basis: 48%;
    width: 48%;
}

.columns{
    box-sizing: border-box;
    flex: 0 1 auto;
}

.columns:first-child {
    margin-left: 0;
}
.navbar .logo-img{
    max-height: 17px;
    vertical-align: middle;
    position: relative;
    top: 18px;
}

img{
    max-width: 100%;
    border-style: none;
}

.nav-active{
    font-size: 1.6rem;
    color: #424242;
}

.seven {
    flex-basis: 56.66%;
    width: 56.66%;
}

ul{
    display: block;
}
.navbar {
    perspective: 600px;
    top: 0;
    width: 100%;
    z-index: 10;
    position: fixed;
    background-color: #fff;
    box-shadow: 2px 1px 2px #eee;
    box-sizing: border-box
}

.navbar a {
    font-weight: 400
}

.navbar .container {
    padding: 0
}

.navbar .logo-img {
    max-height: 17px;
    vertical-align: middle;
    position: relative;
    top: 18px
}

.navbar-links {
    list-style-type: none;
    text-align: right;
    margin: 0;
}
.navbar-links #navbar_menu {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px
}

.navbar-links li {
    display: inline;
}
.navbar a{
    font-weight: 400;
}

.navbar-links li a {
    color: #666;
    font-size: .9rem;
    transition: color .3s;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box
}

.navbar-links li a:hover{
    color: #387ed1;
}

.navbar-links #navbar_menu{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:15px;
}

.navbar #menu-btn{
    color: #666;
    font-weight: 400;
    display: inline-block;
    padding: 20px 0;
}

.navbar #nav-icon3{
    width: 18px;
    top: 8px;
    position: relative;
    margin: 0 auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}
.navbar-menu {
    width: 700px;
    position: absolute;
    opacity: 0;
    transition: all .15s ease;
    transform: rotateX(-15deg);
    transform-origin: 0 0;
    right: 0px;
    top: 67px;
    z-index: 100;
    background: #fff;
    border-radius: 1px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, .1);
    visibility: hidden;
}

.navbar-menu .products-list {
    padding: 20px 0;
}

.homepage section.landing{
    margin-top: 10vh;
}


section:first-child{
    padding-top: 100px;
}
.homepage section .landing-image{
    margin-top: 50px;
    margin-bottom: 60px;
    max-height: 45vh;
}

img{
    max-width: 100%;
}

section:first-child h5 {
    margin-top: 10px;
}
.homepage section.landing .button {
    margin-top: 25px;
}

.button {
    background-color: #387ed1;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0) !important;
    border-radius: 3px;
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
}

.button:hover {
    background: #222;
    color: #fff !important;
}

.homepage section.ecosystem {
    margin-top: 30px;
}
.homepage section {
    padding: 0 20px 120px 20px;
}
.homepage section .ecosystem-image {
    max-width: 100%;
    width: auto;
}
homepage section.ecosystem .why-us-section p {
    margin-top: 5px;
    margin-bottom: 32px;
    color: #666;
}
.homepage section .demo-link {
    margin-left: 24px;
}
.icon-arrow-right:before {
    content: "➡️";
}

[class^=icon-]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}

.homepage .pricing .pricing-link {
    margin-top: 0;
    padding-left: 10px;
}

.homepage .pricing .pricing-box {
    display: inline-block;
}

.homepage .pricing .pricing-box img {
    width: 120px;
    position: relative;
    top: 22px;
}
.homepage .pricing .pricing-box p, .homepage .pricing .pricing-box img {
    display: inline-block;
}

.homepage .pricing .pricing-box:nth-child(1) p, .homepage .pricing .pricing-box:nth-child(2) p {
    position: relative;
    left: -25px;
}

.homepage .pricing .pricing-box:last-child p {
    position: relative;
    left: -6px;
}
.homepage .pricing .pricing-box p {
    font-size: 10px;
    margin: 0;
    color: #666;
    line-height: 16px;
}

section:last-child {
    padding-bottom: 80px;
}
.kite-sections {
    padding: 40px 0;
}

.kite-sections{

}
.kitefooter-container{

}
.kitefooter-container {
    padding-bottom: 60px;
}

.mini-container {
    width: 900px;
    margin: auto;
    max-width: 100%;
    box-sizing: border-box;
}

.kite-sections .mini-container a {
    margin-top: 20px;
}

.main-footer{

}


footer .footer-logo{
    padding: 10px 0;
}

footer .footer-logo img {
    max-height: 20px;
    width: auto;
}

footer .copyright{
    margin: 0;
    font-size: .8rem;
}

footer .socials{
    padding: 0;
    margin-top: 15px;   
}

footer ul {
    list-style-type: none;
    margin: 0;
}

footer .main-footer li {
    line-height: 2;
}

footer .social li {
    display: inline-block;
    margin-right: 13px;
}

footer .social a {
    font-size: 1.25rem;
    line-height: 1;
}

footer .social a img.youtube-logo {
    width: 26px;
    height: 26px;
    top: 7px;
}

footer .social:last-child {
    margin-top: 8px;
}

footer .main-footer .nav-head {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 10px;
}

footer .main-footer li a {
    color: #666;
}

footer .main-footer li a:hover {
    color: #387ed1
}

footer .main-footer .nav-head {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 10px
}

footer .smallprint {
    color: #9b9b9b;
    margin-top: 40px;
}